@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Ysabeau Office", sans-serif important!;
}
body{
  margin: 0;
  padding: 0;
  background: #05101c;
  color: rgb(255, 255, 255);
}


.text-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5), 4px 4px 8px rgba(0,0,0,0.3)
}

.navlink {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}
.MultiOutlinedInput-input-root.Mui-focused, 
.MultiOutlinedInput-notchedOutline 
{
  border-color: white !important;
}